mixin sProject(secTitle='Нами реализовано множество проектов', aboutPage=false)
	// start sProject
	+b.SECTION.sProject.section#sProject&attributes(attributes)
		.container-fluid
			if aboutPage
				.container
					+e.top-txt
						p Компания &laquo;Инпласт&raquo; ведет свою историю с&nbsp;2005&nbsp;года, начав путь с&nbsp;небольшой организации по&nbsp;производству комплектующих для систем вентиляции и&nbsp;кондиционирования. На&nbsp;текущий момент Инпласт является современным многопрофильным предприятием, которое изготавливает и&nbsp;реализует оборудование для инженерных систем и&nbsp;вентиляции. Мы&nbsp;обеспечиваем строительные объекты качественной и&nbsp;доступной продукцией в&nbsp;кратчайшие сроки.
			+b.section-title.text-center
				h2=secTitle
			+b.projectSlider.d-md-none
				.swiper-container.projectSlider-js
					.swiper-wrapper
						mixin slide(img,title,text)
							.swiper-slide
								+e.slideWrap.text-center(href="#")
									picture.picture-bg
										source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/project-${img}.webp` type="image/webp")
										img.swiper-lazy(src="#" data-src=`img/@2x/project-${img}.jpg`, alt="")
									+e.text
										+e.title= title
										p= text
						+slide('1','Космодром "Восточный"','Поставка сварных воздуховодов и решеток из нержавеющей стали для систем вентиляции участков сборки и заправки ракет')
						+slide('2','ЖК "Двинцев"','Поставка изделий собственного производства, воздушных и балансировочных клапонов')
						+slide('3','МГУ имени М.В.Ломоносова','Поставка крепежных и вентиляционных изделий, решеток и аксессуаров SMAY')
						+slide('4','"Хаятт Ридженси Сочи"','Поставка решеток и диффузоров SMAY, наружных решеток РН, воздуховодов, фасонных и крепежных изделий')
						+slide('5','Международный аэропорт Внуково','Поставка изоляционных материалов, воздушных и огнезадерживающих клапонов, диффузоров SMAY, фасонных и...')
						+slide('6','Москва-Сити','Поставка всего спектра производимой продукции: решеток и диффузоров SMAY, воздушных и вентиляторов, воздуховодов и...')
						+slide('7','Дворец спорта "Большой" в Олимпийском парке города Сочи','Поставка в Ледовый Дворец воздушных и огнезадерживающих клапанов, регуляторов переменного расхода воздуха VAV...')
						+slide('8','Клиническая больница имени С.П.Боткина','Поставка вентиляционных решеток и воздухораспределителей SMAY, воздуховодов и решеток из нержавеющей стали')
						+slide('9','ООО "Самсунг Электроникс Рус Калуга"','Поставка решеток и диффузоров SMAY, наружных решеток РН, воздуховодов, фасонных и крепежных изделий')
						+slide('10','ТРЦ "Columbus"','Поставка алюминиевых решеток и диффузоров SMAY, вихревых воздухораспределителей дальнего радиуса действия, крепежных изделий')
					.swiper-pagination

			+e.row
				+e.col 
					+projectItem('1','Космодром "Восточный"','Поставка сварных воздуховодов и решеток из нержавеющей стали для систем вентиляции участков сборки и заправки ракет')
				+e.col 
					+projectItem('2','ЖК "Двинцев"','Поставка изделий собственного производства, воздушных и балансировочных клапонов')
				+e.col 
					+projectItem('3','МГУ имени М.В.Ломоносова','Поставка крепежных и вентиляционных изделий, решеток и аксессуаров SMAY')
				+e.col 
					+projectItem('4','Международный аэропорт Внуково','Поставка изоляционных материалов, шумоглушителей, воздухораспределителей, воздушных и огнезадерживающих клапонов, диффузоров SMAY, воздуховодов, фасонных и крепежных изделий')
				+e.col 
					+projectItem('5','"Хаятт Ридженси Сочи"','Поставка решеток и диффузоров SMAY, наружных решеток РН, воздуховодов, фасонных и крепежных изделий')
				+e.col 
					+projectItem('6','Москва-Сити','Поставка в ММДЦ “МОСКВА-СИТИ” всего спектра производимой продукции: решеток и диффузоров SMAY, воздушных и огнезадерживающих клапанов, вентиляторов, воздуховодов и фасонных изделий для систем общеобменной и аварийной вентиляции, крепежных изделий и изоляционных материалов.')
				+e.col 
					+projectItem('7','Дворец спорта "Большой" в Олимпийском парке города Сочи','Поставка в Ледовый Дворец воздушных и огнезадерживающих клапанов, регуляторов переменного расхода воздуха VAV, решеток и диффузоров SMAY, решеток легкой серии ALW–L, воздуховодов и крепежных изделий')
				+e.col 
					+projectItem('8','Клиническая больница имени С.П.Боткина','Поставка вентиляционных решеток и воздухораспределителей SMAY, воздуховодов и решеток из нержавеющей стали')
				+e.col 
					+projectItem('9','ООО "Самсунг Электроникс Рус Калуга"','Поставка решеток и диффузоров SMAY, наружных решеток РН, воздуховодов, фасонных и крепежных изделий')
				+e.col 
					+projectItem('10','ТРЦ "Columbus"','Поставка алюминиевых решеток и диффузоров SMAY, вихревых воздухораспределителей дальнего радиуса действия, крепежных изделий')
	// end sProject

mixin projectItem(i,title,t)
	+b.projectItem(href="#")
		+pic(`project-${i}`,'bg','')(class="picture-bg")
		+e.textBlock
			+e.title= title
			p= t

