mixin sHit(title='Хит продаж', hasPrices=true, prodPage=false)
	// start sHit
	+b.SECTION.sHit.section#sHit&attributes(attributes)
		.container
			if prodPage
				//-+e.circle-btn.d-none.d-xl-flex
					+icon('chevron-top')
			+b.section-title
				h2=title
			+e.slider
				.swiper-container.hitSlider-js
					.swiper-wrapper
						mixin slide(img,t)
							.swiper-slide
								+e.sliderWrap
									+e.img(href="#")
										picture
											source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/hit-${img}.webp` type="image/webp")
											img.swiper-lazy(src="#" data-src=`img/@2x/hit-${img}.jpg`, alt="")
									if t
										+e.title(href="#") Гигиенический воздухораспределитель NAF
										+e.price 66 666 ₽
									else
										+e.title(href="#") Название товара расчитано&nbsp;в&nbsp;высоту ну&nbsp;на три строчки максимум
										+e.price Цена ₽
									+e.buttons
										+e.btn.link-modal(href="#") Купить
										+e.view(href="#")
											+icon('view')
										+e.compare(type="button")
											+icon('comp')
						+slide('1','t')
						+slide('2')
						+slide('2')
						+slide('2')
						+slide('2')
						+slide('2')
			if hasPrices
				+e.prices
					mixin item(t,i)
						+e.col.col-md-auto
							+e.pricesItem(href="#")
								if i
									+icon('certificate')
									+e.list= t
								else
									+icon('catalog')
									+e.list Прайс-лист.
										span= t
					.row.justify-content-center
						+item('Алюминиевые решетки')
						+item('Решетки дымоудаления')
						+item('Наружные решетки')
						+item('Расходные материалы')
						+item('Сертификаты','i')
	// end sHit